
.grad-button{
  background: linear-gradient(75deg, rgba(0,255,53,1) 20%,rgba(2,250,203,1) 40%, rgba(102,9,121,1) 85%);
  width:240px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 360px 360px auto;
  height: 62px;
  text-align:center;
  border: none;
  text-shadow: 0 1px 0 #312c2c;
  border-radius: 50px;
  position: relative;
}

body {
  background: rgb(102,9,121);
  background: linear-gradient(90deg, rgba(102,9,121,1) 25%, rgba(2,250,203,1) 72%, rgba(0,255,53,1) 98%);
}
p {
  color: red;
}
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.main-menu {
  list-style: none;
  margin: 40px 0 5px;
  padding: 25px 0 5px;
  text-align: center;
  background: white;
}
.main-menu li {display: inline-block;}
.main-menu li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.main-menu li:last-child:after {content: none;}
.main-menu a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.main-menu a, .main-menu a:visited {color: #9d999d;}
.main-menu a.current, .main-menu a:hover{color: #feb386;}
.main-menu a:before,
.main-menu a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #feb386;
  transition: .8s;
}
.main-menu a:hover:before, .main-menu .current:before {left: 0;}
.main-menu a:hover:after, .main-menu .current:after {right: 0;}
@media (max-width: 550px) {
.main-menu {padding-top: 0;}
.main-menu li {display: block;}
.main-menu li:after {content: none;}
.main-menu a {
  padding: 25px 0 20px;
  margin: 0 30px;
}
}
