.clickable{
  margin: 10%;
  text-align: center;
}
.grad-button{
  background: linear-gradient(90deg, rgba(0,255,53,1),rgba(2,250,203,1), rgba(102,9,121,1));
  width:240px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 360px 360px auto;
  height: 62px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  text-shadow: 0 1px 0 #312c2c;
  border-radius: 50px;
}
.grad-button > span{
  display: block;
  -moz-animation: gradient 3s ease-in-out infinite;
  -webkit-animation: gradient 3s ease-in-out infinite;
  animation: gradient 3s ease-in-out infinite;
}
body {
  background: rgb(102,9,121);
  background: linear-gradient(90deg, rgba(102,9,121,1) 25%, rgba(2,250,203,1) 72%, rgba(0,255,53,1) 98%);
}
p {
  color: red;
}
